:root {
  --bg: #0d1011;
  --elevated-1: #191c1d;
  --sidebar: #272b2b;
  --color: #ffffff;
  --color-accent: #58e591;
  --mail: #c7c7c7;
}

body {
  background-color: var(--bg);
  color: var(--color);
  font-family: "Inter";
}

.work {
  text-align: center;
  padding: 2rem;
}

.elevated {
  background-color: var(--elevated-1);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  max-width: 1720px;
  height: 80vh;
  margin: auto;
  margin-top: 10vh;
  overflow: hidden;
  -webkit-box-shadow: 30px 27px 60px 0px #00000087;
  box-shadow: 30px 27px 60px 0px #00000087;
}

.menu {
  display: flex;
  background-color: var(--sidebar);
  width: 6vw;
  flex-direction: column;
  place-content: flex-end;
}

.menu a {
  margin-bottom: 3rem;
}

.menu img {
  position: relative;
  align-items: center;
  display: flex;
  margin: auto;
  height: 3rem;
}

.menu-name {
    font-size: 2rem;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    align-self: center;
    padding: 2rem;
    color: var(--mail);
}

.logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px; /* Adjust the width of the logo as needed */
  height: auto; /* Maintain aspect ratio */
}

.main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main a {
  color: unset;
  text-decoration: none;
  font-size: 1.2rem;
}

.main img {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem;
  height: 5rem;
}

.content {
  padding: 3rem;
  font-weight: bold;
  font-size: 8rem;
  line-height: 1.3;
  margin: auto;
  margin-left: 0;
}

.top {
  padding: 2.5rem;
  text-align: right;
  font-weight: 200;
}

.green {
  color: var(--color-accent);
}
